{% extends 'base.html.twig' %}

{% block title %}Календарь{% endblock %}

{% block body %}
    <h1 class="h1main">Календарь Семейных Событий</h1>
    <div class="line"></div>
    {% if 'ROLE_ADMIN' in app.user.roles  %}
        <a href="{{ path('app_booking_new') }}" class="btn formbutton addquote">Добавить событие</a>
    {% endif %}
    <div class="col">
        <h1>Вкладка еще в разработке!</h1>
        <h1>--------------------------------</h1>
        <h1>Coming Soon!</h1>
        <h1>Coming Soon!</h1>
    </div>
    <div id="calendar-holder"></div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('calendar') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('calendar') }}
{% endblock %}

