<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Login{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<style>
    html, body{
        height: 100%;
        margin: 0;
        overflow:hidden;
        color: rgb(17, 17, 17);
    }

    label {
        color: #A0AEC0;
    }
</style>
<div class="row logIn">
    <div class="loginpage col"></div>
    <div class="loginpageright col-8">
        <form class="loginform" method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Ну, Привет! :)</h1>
            <label class="mt-5" for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control inputLogin" autocomplete="email" required>
            <label class="mt-5" for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control inputLogin" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token "
                   value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn btn-lg btn-primar loginBtny mt-5" type="submit">
                Войти
            </button>
        </form>
    </div>
</div>

</body>
</html>
