<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Registration{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<style>
    html, body{
        height: 100%;
        margin: 0;
        overflow:hidden;
        color: rgb(17, 17, 17);
    }

    label {
        color: #A0AEC0;
    }

    b {
        font-size: 40px;
    }

    .loginContainer {

    }
    .imga {
        width: 414px;
        height: 414px;
        margin-top: 120px;
        margin-left: 25%;
        border-radius: 100px;
        z-index:99999999;
    }
    .hh1 {
        font-size: 40px;
        font-weight: 900;
    }
    .textlogin {
        font-style: italic;
        margin-top: 300px;
        color: #b3ada1;
        margin-left: 500px;
    }
    .logoimg {
        width: 385px;
    }
    .regbtn {
        color: #b3ada1;
        b
    }
</style>
<div class="row logIn">
    <div class="loginpage col">
        <div class="loginContainer">
            <img class="logoimg" src="{{ asset('assets/img/1.png') }}" alt="">
        </div>
        <div class="loginImage">
            <img class="imga" src="{{ asset('assets/img/photo_2022-08-04_11-05-29.jpg') }}" alt="Avatar">
        </div>
    </div>
    <div class="loginpageright col-8">
        <div class="loginform">
            {% if app.user %}
                <div class="mb-3">
                    Ты уже зашел как {{ app.user.username }}, <a href="{{ path('app_logout') }}" class="loginBtny">Выйти</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 hh1">Регистрация</h1>

            {{ form_start(registrationForm) }}
            {{ form_errors(registrationForm) }}
            {{ form_errors(registrationForm.name) }}
            {{ form_errors(registrationForm.email) }}
            {{ form_errors(registrationForm.plainPassword) }}
            {{ form_label(registrationForm.email, 'Почта', {'label_attr': {'class': 'foo'}}) }}
            {{ form_widget(registrationForm.email, {'label': 'Submit me', 'attr': {'class': 'form-control inputLogin'}}) }}
            {{ form_label(registrationForm.name, 'Имя', {'label_attr': {'class': 'foo'}}) }}
            {{ form_widget(registrationForm.name, {'label': 'Submit me','attr': {'class': 'form-control inputLogin'}}) }}
            {{ form_label(registrationForm.plainPassword, 'Пароль', {'label_attr': {'class': 'foo'}}) }}
            {{ form_widget(registrationForm.plainPassword, {'label': 'Submit me','attr': {'class': 'form-control inputLogin'}}) }}

            <div class="row btnsforlogin">
                <button type="submit" class="col-2 btn btn-lg btn-primar loginBtny mt-5">
                    Зарегаться
                </button>
                <div class="col-2"></div>
                <a href="/" class="col-2 btn btn-lg btn-primar loginBtny mt-5" >
                    Назад
                </a>
            </div>
            {{ form_end(registrationForm) }}
        </div>

        <div class="row textlogin">
            <p class="">Раз такой умный, мог бы сам дизайн сделать...</p>
            <p class="">...Выдохни!...</p>
        </div>
    </div>
</div>

</body>
</html>

