{% extends 'base.html.twig' %}

{% block title %}Рецепты{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1 class="h1main">Рецепт</h1>
    <div class="line"></div>

    {% for message in app.flashes('success_update') %}
        <div class="alert alert-success mb-5">
            {{ message }}
        </div>
    {% endfor %}

    <div class="symfonyForm">
        {{ form_start(recipeForm) }}

        {{ form_errors(recipeForm) }}

        <div class="formErrors">
            {{ form_errors(recipeForm.name) }}
            {{ form_errors(recipeForm.description) }}
        </div>

        {{ form_label(recipeForm.name, 'Название Рецепта', {'label_attr': {'class': 'formLabel'}}) }}
        {{ form_widget(recipeForm.name, {'attr': {'class': 'form-control formInput'}}) }}
        {{ form_label(recipeForm.description, 'Описание Рецепта', {'label_attr': {'class': 'formLabel'}}) }}
        {{ form_widget(recipeForm.description, {'attr': {'class': 'form-control formInput inputTextarea'}}) }}

        <div class="row btnsforlogin">
            <button type="submit" class="btn formbutton mt-5">
                Обновить
            </button>
        </div>

        {{ form_end(recipeForm) }}
    </div>

</div>
{% endblock %}
