{% extends 'base.html.twig' %}

{% block title %}Рецепты{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1 class="h1main">Добавить Цитату</h1>
    <div class="line"></div>
    <div class="symfonyForm">
        {{ form_start(quoteForm) }}

        {{ form_errors(quoteForm) }}

        <div class="formErrors">
            {{ form_errors(quoteForm.title) }}
            {{ form_errors(quoteForm.author) }}
        </div>

        {{ form_label(quoteForm.title, 'Цитата', {'label_attr': {'class': 'formLabel'}}) }}
        {{ form_widget(quoteForm.title, {'attr': {'class': 'form-control formInput'}}) }}
        {{ form_label(quoteForm.author, 'Автор', {'label_attr': {'class': 'formLabel'}}) }}
        {{ form_widget(quoteForm.author, {'attr': {'class': 'form-control formInput'}}) }}

        <div class="row btnsforlogin">
            <button type="submit" class="btn formbutton mt-5">
                Создать
            </button>
        </div>

        {{ form_end(quoteForm) }}
    </div>

</div>
{% endblock %}
