<div class="col menu-column">
    <div class="logoline"></div>
    <div class="menuword">Меню</div>
    <div class="triangle justify-content-end"></div>
        <div class="row-lg-2 menu-control">
            <a href="/" class="btn loginbtn menubtn">
                <img class="headerimg" src="{{ asset('assets/img/icons8-home-24.png') }}" alt="">
                <b class="headerb">Главная</b>
            </a>
            <a href="/note/list" class="btn loginbtn menubtn">
                <img class="headerimg" src="{{ asset('assets/img/notes.png') }}" alt="">
                <b class="headerb">Заметки</b>
            </a>
            <a href="/calendar" class="btn loginbtn menubtn">
                <img class="headerimg" src="{{ asset('assets/img/calendar.png') }}" alt="">
                <b class="headerb">Каленарь</b>
            </a>
            <a href="/recipe/list" class="btn loginbtn menubtn">
                <img class="headerimg" src="{{ asset('assets/img/recipe.png') }}" alt="">
                <b class="headerb">Рецепты</b>
            </a>
            <a href="/quote/list" class="btn loginbtn menubtn">
                <img class="headerimg" src="{{ asset('assets/img/quote.png') }}" alt="">
                <b class="headerb">Фонд Цитат</b>
            </a>
            <div class="btn-group btn loginbtn menubtn">
                <img class="headerimg" src="{{ asset('assets/img/movie.png') }}" alt="">
                <button class="btn dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                    Списки
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/anime/list">Аниме</a></li>
                    <li><a class="dropdown-item" href="/book/list">Книги</a></li>
                    <li><a class="dropdown-item" href="/movie/list">Сериалы/Фильмы</a></li>
                </ul>
            </div>
        </div>
</div>